*,
*::before,
*::after {
  box-sizing: border-box;
}

#h1{
    text-align: center;
}

#start{
    margin-left: 525px;
    width: 10%;
    padding: 0px;
    height: 20px;
    margin-top: 10px;
    font-size: 12px;
}

#score{
    width: 10%;
    padding: 0px;
    height: 20px;
    margin-top: 10px;
    font-size: 12px;
}